{% extends 'base_menuChatbot.html' %}
{% block title %}View Flows{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div class="container mt-5">
    <div class="card mt-4">
        <div class="card-header"style = "font-size: 2.5rem;">
        <strong>
            FlowView
        </strong>
        </div>
        <div class="card-body">
            <table id="flowsTable" class="display mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flow in flows %}
                    <tr>
                        <td>{{ flow.name }}</td>
                        <td>{{ flow.description }}</td>
                        <td>
                            <a href="{% url "edit_flow" flow.id %}" class="btn btn-primary edit-btn">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a href="{% url 'run_flow' flow.id %}" class="btn btn-primary">
                                <i class="bi bi-play-fill"></i> Run Flow
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#flowsTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true
        });
</script>
{% endblock %}
